html {
    font-size: 16px;
}

* {
font-family:baskerville;
}

#welcome {
    background-image: url("../images/University\ Skyline.jpg");
    background-size: 100% auto;
    height: 30rem;
}
